<li class="splide__slide">
  <iframe src="https://www.youtube.com/embed/<%=@video.url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  <h4><%=main_translate(@video,"title")%></h4>
  <p><%=main_translate(@video,"description")%></p>
</li>
