<span id="about_link" class="fix_link"></span>
<section id="about" class="layouts">
  <div class="container">
    <h2 class="d-inline-block d-lg-none"><%=t('main_page.about.title')%></h2>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="/teams.webp" alt="Our teams" class="w-100">
      </div>
      <div class="col-12 col-lg-6 ps-lg-6">
        <h2 class="d-lg-inline-block d-none"><%=t('main_page.about.title')%></h2>
        <p class="mt-4 pt-2 mt-lg-0 pt-lg-0">
            <%=t('main_page.about.block_1')%>
        </p>
        <p>
          <%=t('main_page.about.block_2')%>
        </p>
      </div>
    </div>
  </div>
</section>
