<section id="gallery" class="layouts pb-0">
  <div class="container">
    <h2><%=t('main_page.gallery.title')%></h2>
    <!-- <div class="splide" id="gallery_scroll">
      <div class="splide__track">
        <ul class="splide__list">
          <%#= render ImageComponent.with_collection(images) %>
        </ul>
      </div>
    </div>-->
    <div class="d-none d-md-block" data-mc-src="edafd371-cba5-4265-9c0d-21cff6b815e1#instagram"></div>
    <div class="d-block d-md-none" data-mc-src="0e0cdd32-1580-4438-93b6-bc857d68e629#instagram"></div>
    <div class="plashka"></div>
    <div class="plashka alt"></div>
  </div>
</section>

<!-- <script type="text/javascript">
  document.addEventListener( 'DOMContentLoaded', function () {
    if(document.getElementById('gallery_scroll'))
    var splide = new Splide( '#gallery_scroll', {
      focus    : 'left',
      autoWidth: true,
    } );

    splide.mount();
  } );
</script> -->
<script
  src="https://cdn2.woxo.tech/a.js#61e98108d69a6b0016f7ef34"
  async data-usrc>
</script>
